<!-- <h1>
  Hi {{title}}
</h1>

<div *ngIf="showEmployee">Employee</div> -->
<!--TODO trackby-->

<section>
  <!-- <h1>Get ALL Employees</h1>
  <div class="flex-container">
 
    <div class="flex-item">id</div>
    <div class="flex-item">employee_age</div>
    <div class="flex-item">employee_name</div>
    <div class="flex-item">employee_salary</div>
  

  </div>

  <div class="flex-container" *ngFor="let employee of employees;">
 
    <div class="flex-item">{{employee.id}}</div>
    <div class="flex-item">{{employee.employee_age}}</div>
    <div class="flex-item">{{employee.employee_name}}</div>
  
    <div class="flex-item">{{employee.employee_salary}}</div> -->

    <div class="table-container">
      <div class="table-row header-row">
        <div class="table-cell">id</div>
        <div class="table-cell">Employee_name</div>
        <div class="table-cell">employee_age</div>
        <div class="table-cell"> employee_salary</div>
        <div class="table-cell"> Actions</div>
      </div>
      <div class="table-row" *ngFor="let employee of employees;" >
        <div class="table-cell">{{employee.getId}}</div>
        <div class="table-cell">{{employee.getFullName}}</div>
        <div class="table-cell">{{employee.getEmployeeAge}}</div>

        <div class="table-cell">{{employee.getEmployeeSalary}}</div>
        <div class="table-cell"><button (click)="viewEmployee($event)">View</button></div>
      </div>
      
      
      <!-- Add more data rows as needed -->
    </div>
</section>